.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
    margin-right: 156px;
    margin-left: 156px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .gallery-item {
    flex-basis: calc(33.333% - 24px);
  }
  .gallery-image {
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 360px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
  }
  .gallery-image:hover {
    transform: scale(1.1);
  }
  .gallery image:hover {
    transform: scale(1.05);
  }
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
  }
  
  .modal-content {
    margin: 164px;
    width: 1112px;
    height: 640px;
  }
  .modal.show {
    display: block;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }